
* {
  box-sizing: border-box;
}

/* Column container */
.row { 
  display: flex;
  flex-wrap: wrap;
}

/*Sidebar*/
.side {
  flex: 30%;
  background-color: cornflowerblue;
  padding: 20px;
  text-align: center;
}

.main {
  flex: 70%;
  background-color: darkgray;
  padding: 20%; 
}


/* scroll menu */

div.scrollmenu {
  background-color: darkgray;
  overflow: auto;
  white-space: nowrap; 
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: cadetblue;
}

div.scrollmenu input[type=text] {
    float: right;
    padding: 8px;
    border: none;
    margin-top: 10px;
    margin-right: 1px;
    font-size: 17px;
}

/* header-logo */
.header-logo {
  padding: 80px;
  text-align: center;
  background-image: url("https://raw.githubusercontent.com/LeftyGal/Florida-Energy/master/images/header_logo.png");
  background-repeat: no-repeat;
  color: white;
  background-color: darkcyan;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
      
  .map{
    width:100%;
    height:500px;  
  }

/* tiles */
.container2 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* footer */
  .footer { 
  padding: 20px;
  text-align: center;
  background: darkcyan;
}

