$blue: #0000ff;
$border-style :2px solid $blue;
$primaryColor: #D7DBDD;

* {
    box-sizing: border-box;
}

.row {
  background: $primaryColor;
  .column .row {
    background: $primaryColor;
  }
}

.body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16em;
  $primaryColor: #D7DBDD;
  background-color: $primaryColor;
  .p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16em; }
}

/* header-logo */
.header-logo {
  padding: 80px;
  text-align: center;
  background-image: url("https://raw.githubusercontent.com/LeftyGal/Florida-Energy/master/images/header_logo.png");
  background-repeat: no-repeat;
  color: white;
  background-color: darkcyan;
}

.header {
  overflow: hidden;
  background-color: #D7DBDD;
  padding: 0px 0px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #D7DBDD;
  color: black;
}

.header a.active {
  background-color: #D7DBDD ;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

h6 .footer .newletter {
  font-weight: bold;
}

/* scroll menu */

div.scrollmenu {
  background-color: darkgray;
  overflow: auto;
  white-space: nowrap; 
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: cadetblue;
}

div.scrollmenu input[type=text] {
    float: right;
    padding: 8px;
    border: none;
    margin-top: 10px;
    margin-right: 1px;
    font-size: 17px;
}

/* footer */
//.footer .row { 
  //text-align: center;
//  background: darkcyan;
//  width: 110%;
//  padding-top: 20px;
//  padding-bottom: 20px;
//  font-weight: bold;//
//}

/* footer */
.footer .row { 
  text-align: center;
  background: darkcyan;
  width: 110%;
  padding-bottom: 2px;
  font-weight: bold;
}

/* newsletter & social media buttons */
.newsletter {
  text-align: left;
  padding-left: 15rem;
  font-weight: bold;
.social { 
  text-align: right;}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 25px;
    background-color: #f2f2f2;
    align-content: right;
    padding-left: 100px;
    align-items: center;
    align-self: center;
    margin-left: 100px;
    border: solid 5px white;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.container-fluid {
  background: $primaryColor;
  .header {
    background: $primaryColor;
    .navbar navbar-inverse .navbar-header  {
      background-color: $primaryColor;
    }
  }
}

//.gallery {
  //width: 200px;
  //float: left;
  //margin: 10px;
  //height: 198px;  
//}

.figure {
  display: block;
  width: 202px;
  background-color: white;
  margin: 0px;
  padding: 9px;
  text-align: center;
  .img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    float: left;
  }
    &:figcaption {
      padding: 20px;
      border-bottom-color: white;
    }
  } 

.col-lg {
  background: $primaryColor;
}

.col-md-8 {
  text-align: center;
}

.col-sm-4 h2 {
  text-align: right;
}

.col-lg {
  align-content: center;
  text-align: center;
}

 .row.content {
   height: 450px;
}

.video {
  border: $border-style;
  display: flex;
  width: 25px;
  height: 200%;
  margin: auto;
  border-style: solid 25px blue;
  &:span {
    font: $blue;    
}
}

.image {
  display: block;
  width: 85%;
  height: auto;
  align-items: center;
  align-content: center;
    &:figcaption {
      padding: 20px;
    }
  } 

.gallery {
  border: solid 5px white;
  padding: 10px;
  border-radius: 10px solid white;
}

figcaption{
  border: solid 3px white;
  font-weight: bold;
}

.para{
  background-color: white;
  font-weight: bold;
}

.text-center2{
  padding-left: 300px;
  padding-right: 100px;
  padding-top: 75px;
  border-radius: 5px;
  border: solid white;
  border-radius: 20px;
  padding-bottom: 50px;
  border-spacing: inherit;
}

.text-center{
  padding-left: 200px;
  padding-right: 100px;
  padding-top: 100px;
  
}
  
/* side nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: darkgray;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

